doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My portfolio
  link(rel='stylesheet' href='./static/style.css')
header#header Curiculum Vitae
section#intro-section
  .photo
    img(src='images/IMG_0993.jpg' alt='my photo')
  .details
    h2 Rajshree Ingle
    h4 Web Developer
    .aboutMe
      p
        | Ambitious, career-focused job seeker, anxious to obtain a Junior Web developer position to help
        | launch
        | career while achieving company goals. I have about 2 years of experience. And certification of
        | FrontEnd
        | Development from Brainnest. I am a Quick and good learner.
    .contact-info
      ul
        li Email - ingle.rajshree@gmail.com
        li Location - Netherlands
        li Contact no - +31 644184004
        li
          a(href='https://www.linkedin.com/in/rajshree-ingle-a722b0a4' target='_blank') LinkedIn 
section#content-exp-edu
  .experience-content
    .experience
      h4 Trainee | Brainnest
      h5 Jun 2022 - July 2022
      p Frontend development 
      ul
        li Skills used - HTML, CSS, Javascript
        li Undergone Extensive Industry Frontend Development Training Program. 
        li Created Websites on the assignments using skills like html, CSS, Javascript. 
        li Created repositories on github and published the project on github. 
        li Tested and debugged code for various scenarios and conditions. 
    .experience
      h4 Associate Consultant | Wipro Technologies
      h5 Aug 2016 - Dec 2017
      p PROJECT- Vodafone India Limited Domain: Telecom software 
      //
        <ul>
        <li>The web portals development team develops Service Management Portal for different account login
        IDs and provide functionalities based on requirement such as report generation, current status
        of
        tickets raised by customers, update status of task completion, pending task</li>
        <li>It shows report of all customers of Vodafone at one place </li>
        <li>For different account ID there is limited access to functionality based on role of user</li>
        </ul>
      ul
        | Responsibilities:
        // <li>phase 2 CR of portal development </li>
        //
          <li>Achieved development of new functionality of Customer allocation to regional account user by the
          national account user, RAG(red, amber, green) automation-color based priority representation of
          tickets</li>
        li Skills used - Java, Spring, Hibernate, CSS, Javascript, HTML, SQL
        li Developed Customer login for customer feedback on quarterly based experience 
        li Modified and maintained existing code as per client requirement
        li Achieved timely delivery of efficient code
        li
          | Develop or maintained archived procedure, procedural codes, or queries for the application
        li
          | Delivered outstanding service to clients to maintain and extend relationship for future business
          | opportunities.
        li
          | Developed service plans in consultation with clients, and performed follow-ups assessing
          | quantity
          | and quality of services
  .education-details
    ul.edu-list
      li
        | College of Engineering, Pune | 2013-2016 |Electronics and telecommunication Engineering
      li
        | College of Polytechnic, Khamgaon | 2010-2013 |Diploma in Electronics and telecommunication
        | Engineering
    .innerdiv
      .skillset
        h4 Skills
        ul
          li Java
          li HTML
          li CSS
          li Javascript
          li Hibernate
          li Spring
          li NodeJS
          li Sql
          li MongoDB
          li Github
      .languages
        h4 Languages
        ul
          li English
          li Hindi
          li Dutch (beginner)
section.certificates
  .certificate-ctr
    // <a href=""></a>
    img(src='images/FD-certificate.png' alt='Frontend-developement certificate')
footer
  a(href='https://www.linkedin.com/in/rajshree-ingle-a722b0a4' target='_blank') LinkedIn 
